@{
    ViewData["Title"] = "Controller";
}

<div class="text-center">
    <h1 class="display-4">Controller</h1>
    <h4>Controller (Контролер)</h4>
    <p>
        
        Що це?<br />
        Controller відповідає за управління запитами користувача, обробку введених даних і передачу їх у Model або View.
        <br />
        Основні функції:<br />
        Приймає запити від користувача.<br />
        Викликає відповідні методи Model.<br />
        Передає дані у View для відображення.<br />
    </p>
    <img src="https://researchhubs.com/uploads/mvc-design-pattern.jpg" />

</div>
