@{
    ViewData["Title"] = "Model";
}

<div class="text-center">
    <h1 class="display-4">Model</h1>
    <h4>  Model (Модель)</h4>
    <p>
       
        Що це? <br />
        Модель відповідає за управління даними та логікою бізнес-процесів. Вона не взаємодіє безпосередньо з користувачем, а лише надає або змінює інформацію.
        <br />
        Основні функції:<br />
        Збереження та оновлення даних.<br />
        Взаємодія з базою даних.<br />
        Визначення правил бізнес-логіки.<br />
    </p>
    <image src="https://uploads.sitepoint.com/wp-content/uploads/2013/03/MVC-Process.png"></image>
    
</div>
