@{
    ViewData["Title"] = "Controller";
}

<div class="text-center">
    <h1 class="display-4">View</h1>
    <h4>View (Представлення)</h4>
    <p>
        
        Що це?<br />
        View відповідає за відображення інформації, яку отримує від Model. Це може бути HTML-сторінка, мобільний додаток або API-відповідь.
        <br />
        Основні функції:<br />
        Формування інтерфейсу користувача.<br />
        Відображення отриманих даних.<br />
        Взаємодія з користувачем через UI.<br />
    </p>
</div>
